mode: daemonset

image:
  repository: otelcontribcol-dev
  tag: "0.0.1"
  pullPolicy: IfNotPresent

command:
  name: otelcontribcol

extraEnvs:
  - name: K8S_NODE_NAME
    valueFrom:
      fieldRef:
        fieldPath: spec.nodeName

clusterRole:
  create: true
  rules:
    - apiGroups:
        - ""
      resources:
        - namespaces
        - nodes
        - pods
        - serviceaccounts
        - services
        - customresourcedefinitions
        - daemonsets
        - deployments
        - replicasets
        - statefulsets
        - horizontalpodautoscalers
        - cronjobs
        - jobs
        - endpointslices
        - ingresses
        - networkpolicies
        - poddisruptionbudgets
        - clusterrolebindings
        - clusterroles
        - rolebindings
        - roles
      verbs:
        - get
        - watch
        - list
    - apiGroups:
        - apps
      resources:
        - replicasets
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - argoproj.io
      resources:
        - rollouts
      verbs:
        - get
        - list
        - watch
    - apiGroups: [ "" ]
      resources: [ "nodes", "nodes/stats", "nodes/proxy" ]
      verbs: [ "get", "list", "watch" ]


presets:
  logsCollection:
    enabled: true
    includeCollectorLogs: true
  kubernetesAttributes:
    enabled: true
    extractAllPodLabels: true
    extractAllPodAnnotations: true

config:
  exporters:
    datadog:
      traces:
        span_name_as_resource_name: true
        trace_buffer: 500
      hostname: "otelcol-kangyi"
      api:
        site: *****
        key: *****
      orchestrator:
        cluster_name: "kangyi-otel-cluster"

  connectors:
    datadog/connector:

  processors:
    batch: { }
    resource/cluster:
      attributes:
        - key: k8s.cluster.name
          value: kangyi-otel-cluster
          action: upsert

  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318
        grpc:
          endpoint: 0.0.0.0:4317

    filelog:
      include:
        - /var/log/pods/*/*/*.log
      start_at: end
      include_file_path: true
      include_file_name: false

    k8sobjects:
      auth_type: serviceAccount
      objects:
        - name: namespaces
          mode: pull
          interval: 15s
        - name: nodes
          mode: pull
          interval: 15s
        - name: pods
          mode: pull
          interval: 15s
#        - name: pods
#          mode: watch
#        - name: rollouts
#          group: argoproj.io
#          mode: pull
#          interval: 15s

    kubeletstats:
      collection_interval: 15s
      auth_type: serviceAccount
      endpoint: https://${K8S_NODE_NAME}:10250
      insecure_skip_verify: true

#    prometheus:
#      config:
#        scrape_configs:
#          - job_name: kube-state-metrics
#            scrape_interval: 30s
#            metrics_path: /metrics
#            static_configs:
#              - targets:
#                  - kube-state-metrics.kube-state-metrics.svc:8080

  service:
    pipelines:
      logs:
        receivers: [ otlp ,filelog]
        processors: [ resource/cluster,batch ]
        exporters: [ datadog ]

      logs/k8s:
        receivers: [ k8sobjects ]
        processors: [ resource/cluster,batch ]
        exporters: [ datadog ]

      metrics/k8s:
        #receivers: [ prometheus,kubeletstats ]
        receivers: [ kubeletstats ]
        processors: [resource/cluster,batch ]
        exporters: [ datadog ]

      traces:
        receivers: [ otlp ]
        processors: [ resource/cluster, batch ]
        exporters: [ datadog ]